@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');

body {
    max-width: 320px;
    margin: 0 auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.hidden {
    display: none;
}

.open_animation {    
    display: block;
    transform: translateY(-150%);
    animation: open_a 1s forwards;
}

@keyframes open_a {
    0% {display: block;}
    1% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
}

.close_animation {    
    transform: translateY(0%);
    animation: close_a 1s forwards;
}

@keyframes close_a {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-150%);}    
}

.close_animation_todo {    
    transform: translateY(150%);
    /* animation: close_a_t 1s forwards; */
}

/* @keyframes close_a_t {
    0% {transform: translateY(50%);}
    100% {transform: translateY(0%);}   
} */

.header {
    max-width: 288px;
    margin: 0 auto;
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}

.header__h1 {
    font-size: 20px;
}

.header__button {
    background-color: white;
    border: 0px;
    width: 30px;
}

.rotare_plus { 
    transform: rotate(0deg);
    animation: rot_p 0.5s forwards;
}

@keyframes rot_p {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}    
}

.rotare_close { 
    transform: rotate(45deg);
    animation: rot_c 0.5s forwards;
}

@keyframes rot_c {
    0% {transform: rotate(45deg);}
    100% {transform: rotate(0deg);}    
}

.pos_rel {
    position: relative;
}

.add_block {
    z-index: -1;    
    max-width: 232px;
    margin: 0 auto;
}

.add_block__span {
    margin-bottom: 10px;
}

.add_block__input {
    width: 98%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #9C89B8;
    margin: 0 auto 10px;
    padding-left: 5px;
}

.color_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.color_item {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 0px;
}

.add_block__button {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    background: #9C89B8;
    color: #FFFFFF;
    font-weight: bold;
}

.green {
    background-color: #CEEDC7;
}

.pink {
    background-color: #FF9494;
}
.orange {
    background-color: #FFD4B2;
}
.yellow {
    background-color: #FFF6BD;
}
.blue {
    background-color: #D7E3FC;
}
.purple {
    background-color: #FFC8DD;
}

.todo {
    max-width: 272px;
    margin: 0 auto;
}

.todo__nav {
    width: 100%;
}

.todo__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item__check {
    width: 30px;
    height: 30px;
    border-radius: 50%;    
    border: 2px solid;
    appearance: none;
    -webkit-appearance: none;    
    cursor: pointer;  
}

.item__label {
    width: 80%;
    border-radius: 8px;
    padding-left: 8px;
    line-height: 30px;

    font-weight: bold;
    color: black;
    font-size: small;
}